<h1>Lista de Servicios</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.description %></td>
    <td><%= link_to 'Mostrar', service %></td>
    <td><%= link_to 'Editar', edit_service_path(service) %></td>
    <td><%= button_to 'Borrar', service, :confirm => 'Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Servicio', new_service_path %>
