<h1>Listing branches</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Localizacion</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>     </th>
    <th>     </th>
    <th>     </th>
  </tr>

<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.user %></td>
    <td><%= branch.location %></td>
    <td><%= branch.address %></td>
    <td><%= branch.phone %></td>
    <td><%= branch.email %></td>
    <td><%= link_to 'Mostrar', branch %></td>
    <td><%= link_to 'Editar', edit_branch_path(branch) %></td>
    <td><%= Button_to 'Eliminar', branch, :confirm => 'Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_branch_path %>
