<h1>Listado de Comentarios</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Codigo Origen</th>
    <th>Usuario</th>
    <th>Comentario</th>
    <th>Mostrar</th>		
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.date %></td>
    <td><%= comment.cod_origin_id %></td>
    <td><%= comment.user.email %></td>
    <td><%=raw comment.comment %></td>	
    <td><%= comment.show %></td>		
    <td><%= link_to 'Mostrar', comment %></td>
    <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
    <td><%= button_to 'Eliminar', comment, :confirm => 'Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
