<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @comment.date %>
</p>

<p>
  <b>Codigo Origen</b>
  <%= @comment.cod_origin_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Origen:</b>
  <%= @comment.origin %>
</p>

<p>
  <b>Comentario:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Mostrar:</b>
  <%= @comment.show %>
</p>

<%= link_to 'Editar', edit_comment_path(@comment) %> |
<%= link_to 'Regresar', comments_path %>

aaa:<%= params[:comment_user_id]%> this
