<div id = "footer">
	<p><h3>Listado de Departamentos</h3></p>
</div>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.Name %></td>
    <td><%= link_to 'Mostrar', department %></td>
    <td><%= link_to 'Editar', edit_department_path(department) %></td>
    <td><%= link_to 'Eliminar', department, :confirm => '¿Estás seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Departamento', new_department_path %>
