<h1>Listing advertisements</h1>

<table>
  <tr>
    <th>Fecha de Inicio</th>
    <th>Fecha Final</th>
    <th>URL Imagen</th>
    <th>Usuario</th>
    <th>Link</th>	
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advertisements.each do |advertisement| %>
  <tr>
    <td><%= advertisement.start_date %></td>
    <td><%= advertisement.end_date %></td>
    <td><%= advertisement.image_url %></td>
    <td><%= advertisement.user.email %></td>
    <td><%= advertisement.link %></td>	
    <td><%= link_to 'Mostrar', advertisement %></td>
    <td><%= link_to 'Editar', edit_advertisement_path(advertisement) %></td>
    <td><%= button_to 'Borrar', advertisement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Anuncio', new_advertisement_path %>
