<p id="notice"><%= notice %></p>

<p>
  <b>Fecha Inicio:</b>
  <%= @advertisement.start_date %>
</p>

<p>
  <b>Fecha Fin:</b>
  <%= @advertisement.end_date %>
</p>

<p>
  <b>Url de la Imagen:</b>
  <%= @advertisement.image_url %>
</p>

<p>
  <b>Usuario:</b>
  <%= @advertisement.user.email %>
</p>

<p>
  <b>Usuario:</b>
  <%= @advertisement.link %>
</p>


<%= link_to 'Editar', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Regresar', advertisements_path %>
