<h1>Listing sites_activities</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Activity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites_activities.each do |sites_activity| %>
  <tr>
    <td><%= sites_activity.site.name %></td>
    <td><%= sites_activity.activity.Description %></td>
    <td><%= link_to 'Show', sites_activity %></td>
    <td><%= link_to 'Edit', edit_sites_activity_path(sites_activity) %></td>
    <td><%= link_to 'Destroy', sites_activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sites activity', new_sites_activity_path %>
