<h1>Lista de Clicks</h1>

<table>
  <tr>
    <th>Direccion IP</th>
    <th>Fecha</th>
    <th>Id Publicidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if (defined?(current_user))
	if current_user != nil && current_user.admin

%>



<% @clicks.each do |click| %>
  <tr>
    <td><%= click.ip_address %></td>
    <td><%= click.date %></td>
    <td><%= click.advertisement.id %></td>
    <td><%= link_to 'Mostrar', click %></td>
    <td><%= link_to 'Editar', edit_click_path(click) %></td>
    <td><%= button_to 'Eliminar', click, :confirm => 'Esta seguro?', :method => :delete %></td>
<% end end %>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Clic', new_click_path %>
