<h1>Listing clicks</h1>

<table>
  <tr>
    <th>Ip address</th>
    <th>Date</th>
    <th>Advertisement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clicks.each do |click| %>
  <tr>
    <td><%= click.ip_address %></td>
    <td><%= click.date %></td>
    <td><%= click.advertisement %></td>
    <td><%= link_to 'Show', click %></td>
    <td><%= link_to 'Edit', edit_click_path(click) %></td>
    <td><%= link_to 'Destroy', click, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Click', new_click_path %>
