<p id="notice"><%= notice %></p>

<p>
  <b>Direccion Ip:</b>
  <%= @click.ip_address %>
</p>

<p>
  <b>Fecha:</b>
  <%= @click.date %>
</p>

<p>
  <b>Publicidad:</b>
  <%= @click.advertisement %>
</p>


<%= link_to 'Editar', edit_click_path(@click) %> |
<%= button_to 'Borrar', clicks_path %>
