<h1>Listing sites_services</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites_services.each do |sites_service| %>
  <tr>
    <td><%= sites_service.site.name %></td>
    <td><%= sites_service.service.description %></td>
    <td><%= link_to 'Show', sites_service %></td>
    <td><%= link_to 'Edit', edit_sites_service_path(sites_service) %></td>
    <td><%= link_to 'Destroy', sites_service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sites service', new_sites_service_path %>
