<%= javascript_include_tag :ckeditor %>
<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

<br />
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Description %><br />
    <%= f.cktext_area :Description, :toolbar=>'Full', :width=>'100%', :height=>'100%' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
