					<p><h3 >Listado de Actividades</h3></p>
<p><h4 align = "center"><%= link_to 'Nueva Actividad', new_activity_path %></h4></p>
</div>

<table border = "1" align = "center">
  <tr>
    <th>Descripción</th>
<% if (defined?(current_user))
   if current_user != nil && current_user.admin
%>	
    <th></th>
    <th></th>
	
<% end end %>	
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%=raw activity.Description %></td>
    <td><%= link_to 'Mostrar', activity %></td>
	
<% if (defined?(current_user))
if current_user != nil && current_user.admin
%>
	
    <td><%= link_to 'Editar', edit_activity_path(activity) %></td>
    <td><%= button_to 'Borrar', activity, :confirm => '¿Estas seguro(a)?', :method => :delete %></td>
<% else %> <td></td>
	<td></td>
<% end end  %>
  </tr>
<% end %></table>


