<h1>Sitios Registrados en TuriGuate</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Ubicación</th>
    <th>Dirección</th>
    <th>Telefono</th>
    <th>Email</th>			
    <th>Título</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% Site.find_by_sql("select a.* , b.email as emailuser, c.name as locationname from sites a
					inner join users b
					on a.user_id = b.id
					inner join locations c
					on a.location_id = c.id").each do |site| %>
  <tr>
    <td><%= site.emailuser %></td>	
	<td><%= site.address %></td>
	<td><%= site.phone %></td>
	<td><%= site.email %></td>
    <td><%= site.title %></td>		
    <td><%= site.name %></td>
    <td><%= site.description %></td>
    <td><%= link_to 'Mostrar', site %></td>
    <td><%= link_to 'Editar', edit_site_path(site) %></td>
    <td><%= link_to 'Borrar', site, :confirm => '¿Esta seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Sitio', new_site_path %>

