<h1>Listing sites</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Ubicacion</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>			
    <th>Title</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% Site.find_by_sql("select a.* , b.email as emailuser, c.name as locationname from sites a
					inner join users b
					on a.user_id = b.id
					inner join locations c
					on a.location_id = c.id").each do |site| %>
  <tr>
    <td><%= site.emailuser %></td>
    <td><%= site.locationname %></td>	
	<td><%= site.address %></td>
	<td><%= site.phone %></td>
	<td><%= site.email %></td>
    <td><%= site.title %></td>		
    <td><%= site.name %></td>
    <td><%= site.description %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
