<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @site.user %>
</p>

<p>
  <b>Ubicacion:</b>
  <%= @site.location_id %>
</p>


<p>
  <b>Direccion:</b>
  <%= @site.address %>
</p>


<p>
  <b>Telefono:</b>
  <%= @site.phone %>
</p>


<p>
  <b>Email:</b>
  <%= @site.email %>
</p>



<p>
  <b>Title:</b>
  <%= @site.title %>
</p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %> 

<p>
<p>

<%= link_to 'Agregar Imagen', new_image_path + "?cod1=3&cod2=" + @site.id.to_s %>

