<p id="notice"><%= notice %></p>

<!--
<p>
  <b>Usuario:</b>
  <%= @site.user %>
</p>

-->
<table id = "mytable" border="1">
<tr>
<td colspan = 2> <b>Título:</b><%= @site.title %></td>

</tr>
<tr>
<td colspan = 2><b>Descripción:</b> <%= @site.description %> </td>
</tr>
<tr>
<td>  <b>Usuario:</b><%= @site.user.email %></td>
<td>  <b>Email:</b><%= @site.email %></td>
</tr>
<tr>
<td><b>Nombre:</b><%= @site.name %></td>
<td><b>Dirección:</b><%= @site.address %></td>
</tr>
<tr>
<td><b>Ubicación:</b><%= @site.location.name %></td>
<td><b>Telefono:</b><%= @site.phone %></td>
</tr>

</table>   
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
var geocoder = new google.maps.Geocoder();

  <% 
	if @site.latitud == nil || @site.latitud == "" || @site.longitud == nil || @site.longitud == ""
	%>
	document.getElementById('site_latitud').value = 14.613333831086806;
	document.getElementById('site_longitud').value = 90.53534226989746;
	<%
	end
	
  %>

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      updateMarkerAddress(responses[0].formatted_address);
    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerStatus(str) {
  //document.getElementById('markerStatus').innerHTML = str;
}

function updateMarkerPosition(latLng) {
  //document.getElementById('info').innerHTML = [
    //latLng.lat(),
    //latLng.lng()
  //].join(', ');
document.getElementById('site_latitud').value = latLng.lat();
document.getElementById('site_longitud').value = latLng.lng();

}

function updateMarkerAddress(str) {
  //document.getElementById('address').innerHTML = str;
}

function initialize() {
    <% 
	if @site.latitud == nil || @site.latitud == "" || @site.longitud == nil || @site.longitud == ""
	%>
	   var latLng = new google.maps.LatLng(14.613333831086806, -90.53534226989746);
   <%
	else
	%>
		var latLng = new google.maps.LatLng(<%= @site.latitud %>, <%= @site.longitud %>);
	<%
	end
   %>
  var map = new google.maps.Map(document.getElementById('mapCanvas'), {
    zoom: 8,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  var marker = new google.maps.Marker({
    position: latLng,
    title: 'Point A',
    map: map,
    draggable: true
  });
  
  // Update current position info.
  updateMarkerPosition(latLng);
  geocodePosition(latLng);
  
  // Add dragging event listeners.
  google.maps.event.addListener(marker, 'dragstart', function() {
    updateMarkerAddress('Dragging...');
  });
  
  google.maps.event.addListener(marker, 'drag', function() {
    updateMarkerStatus('Dragging...');
    updateMarkerPosition(marker.getPosition());
  });
  
  google.maps.event.addListener(marker, 'dragend', function() {
    updateMarkerStatus('Drag ended');
    geocodePosition(marker.getPosition());
  });
}

// Onload handler to fire off the app.
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<style>
  #mapCanvas {
    width: 300px;
    height: 200px;

  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
  </style>
  
 <div id="mapCanvas"></div>



<p>
<p>


<p>

<table>

<% Image.find_by_sql("select * from images where cod_origin_id = 3 and origin_id =" + @site.id.to_s).each do |image| %>
   
      <% if image.imagelocation == "IZQUIERDA"%>
        <tr> 
          <td colspan ="6"><img src="<%= image.image_url %>" align="left">
          <%= image.comment %></p></td>
        </tr>
       <%end%> 
       <% if image.imagelocation == "DERECHA"%>
        <tr> 
          <td colspan ="6">
          <img src="<%= image.image_url %>" align="right"><%= image.comment %></p></td>
        </tr>
       <%end%> 
       <% if image.imagelocation == "OCULTAR"%>
        <tr> 
          <td colspan ="6"><%= image.comment %></td>
        </tr>
       <%end%> 

   <% end %>
</table>

<p>
<p>

<h1>Servicios</h1>
<br><br>


<% SitesService.find_by_sql("select * from sites_services where site_id =" + @site.id.to_s).each do |sites_service| %>
  
    <%= sites_service.service.description %> &nbsp; &nbsp;    
   
<% end %>
</table>
<p>
<p>

<h1>Actividades</h1>
<br><br>

<% SitesActivity.find_by_sql("select * from sites_activities where site_id =" + @site.id.to_s).each do |sites_activity| %> 
    <%= sites_activity.activity.Description %> &nbsp; &nbsp;  

<% end %>

<p>
<p>
<h1>Comentarios</h1>
<br>
<br>

<table CELLPADDING=2 BORDER=0 WIDTH=620 style="table-layout: fixed; word-wrap: break-word;">
  

<% Comment.find_by_sql("SELECT * FROM comments a
inner join users b ON a.user_id = b.id 
WHERE a.cod_origin_id = 3 AND a.origin_id = " + @site.id.to_s).each do |comment| %>

  <tr>
    <td style="background: #CAE8EA url(images/bg_header.jpg) no-repeat;"><%= comment.date %></td>
    <td style="background: #CAE8EA url(images/bg_header.jpg) no-repeat;"><%= comment.email %></td>
 </tr>
 <tr >
    <td  colspan="2">
       <i><b><%= comment.comment %>
     </i></b></td>	
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr> 
<% end %>
</table>


<p>
<p>

 <% if (defined?(current_user))
    if current_user != nil
 %>

<form accept-charset="UTF-8" action="/comments?rediroriginid=<%=@site.id%>&redirorigin=3" class="new_comment" id="new_comment" method="post">
<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
</div>

  <div class="field">
    <label for="comment_date">Date</label><br />
    <select id="comment_date_1i" name="comment[date(1i)]">
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option selected="selected" value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
</select>
<select id="comment_date_2i" name="comment[date(2i)]">
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option selected="selected" value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
<select id="comment_date_3i" name="comment[date(3i)]">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option selected="selected" value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
 &mdash; <select id="comment_date_4i" name="comment[date(4i)]">
<option selected="selected" value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
</select>
 : <select id="comment_date_5i" name="comment[date(5i)]">
<option value="00">00</option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option selected="selected" value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option>
<option value="51">51</option>
<option value="52">52</option>
<option value="53">53</option>
<option value="54">54</option>
<option value="55">55</option>
<option value="56">56</option>
<option value="57">57</option>
<option value="58">58</option>
<option value="59">59</option>
</select>

  </div>
  
  <div class="field">
    <label for="comment_cod_origin">Cod origin</label><br />
	<select id="comment_cod_origin_id" name="comment[cod_origin_id]">
<option value="3">Sitio</option></select>	
  </div> 
  
    
   <div class="field">
    <label for="comment_user">User</label><br />
	<select id="comment_user_id" name="comment[user_id]"><option value="<%= current_user.id %>"><%= current_user.id %></option></select>	
  </div> 
  
  
   <div class="field">
    <label for="comment_origin">Origin</label><br />
	<select id="comment_origin_id" name="comment[origin_id]"><option value="<%=@site.id%>"><%=@site.description%></option>
</select>	
  </div>   
  

  
  <div class="field">
    <label for="comment_comment">Comment</label><br />
    <input id="comment_comment" name="comment[comment]" size="30" type="text" />
  </div>  
  
  <div class="actions">
    <input id="comment_submit" name="commit" type="submit" value="Compartir" />
  </div>
</form>

<%else%>
 PARA AGREGAR COMENTARIOS DEBE INICIAR SESION
<%end
 else %>
 PARA AGREGAR COMENTARIOS DEBE INICIAR SESION
<%end%>





