
<h1>Ubicaciones</h1>

<table border = "1" align = "center">
  <tr>
    <th>Nombre</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.tag %></td>
    <td><%= link_to 'Mostrar', location %></td>
    <td><%= link_to 'Editar', edit_location_path(location) %></td>
    <td><%= link_to 'Borrar', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Ubicacion', new_location_path %>

<br />

