
<p id="notice"><%= notice %></p>

<p>
  <b>Noticia:</b>
  <%= @location.name %>
</p>

<p>
  <b>Tag:</b>
  <%= @location.tag %>
</p>


<%= link_to 'Editar', edit_location_path(@location) %> |
<%= link_to 'Regresar', locations_path %>

