<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> Error:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  
  <div class="field">
    <%= f.label :cod_origin_id %><br />
	<select id="image_cod_origin_id" name="image[cod_origin_id]"><option value="<%= params[ :cod1 ] %>"><%= params[ :cod1 ] %></option>
	</select>	
  </div>    
  
  <div class="field">
    <%= f.label :origin_id %><br />
	<select id="image_origin_id" name="image[origin_id]"><option value="<%= params[ :cod2 ] %>"><%= params[ :cod2 ] %></option></select>
  </div>  
  
 <div class="field">
    <%= f.label :posición %><br />
  <select id="image_imagelocation" name="image[imagelocation]">
  <option value="DERECHA"> DERECHA </option>
  <option value="IZQUIERDA"> IZQUIERDA </option>
  <option value="OCULTAR"> OCULTAR IMAGEN </option></select>  
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
