<p id="notice"><%= notice %></p>

<p>
  <b>url: de la imagen</b>
  <%= @image.image_url %>
</p>

<p>
  <b>Comentario:</b>
  <%=raw @image.comment %>
</p>

<p>
  <b>Codigo origen:</b>
  <%= @image.cod_origin_id %>
</p>

<p>
  <b>Origen:</b>
  <%= @image.origin %>
</p>


<%= link_to 'Editar', edit_image_path(@image) %> |
<%= link_to 'Regresar', new_image_path %>
